<main class="flex-1 overflow-y-auto md:pt-4 pt-4 px-6  bg-base-200">
  <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
    <div class="text-xl font-semibold">Profile Settings</div>
    <div class="divider mt-2"></div>
    <%= render "form_information"%>
  </div>
</main>
