<%= turbo_frame_tag @invoice.persisted? ? "invoice_list" : "room_list" do%>
  <main class="flex-1 overflow-y-auto md:pt-4 pt-4 px-6  bg-base-200">
    <div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
      <div class="flex">
        <%= link_to @invoice.persisted? ? show_all_invoices_invoices_path : rooms_path do%>
          <%= vite_image_tag("images/icons/back.svg", class: "w-6 h-6 mr-6")%>
        <%end%>
        <div class="text-xl font-semibold">Thông Tin Hóa Đơn</div>
      </div>
      <div class="divider mt-2"></div>
      <%= render "invoice_room"%>
    </div>
  </main>
<%end%>
