<div>
  <%= render 'users/navigation'%>
  <div class="sm:ml-64">
    <%= render 'users/topnav'%>
    <div class="right-div">
      <!-- table -->
      <%= render 'table'%>
    </div>
  </div>
</div>
