<div class="w-full flex flex-wrap sm:flex-row sm:justify-around mb-10">
  <div class="max-w-[350px] sm:max-w-[800px] bg-white rounded-lg m-4 shadow dark:bg-gray-800 p-4 md:p-6 ">
    <div class="flex justify-between items-start w-full">
      <div class="flex-col items-center">
        <div class="flex items-center mb-1">
          <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">Danh
            sách phòng trống</h5>
        </div>
      </div>
    </div>
    <!-- Table-->
    <div class="relative overflow-x-auto overflow-y-auto max-h-[200px] sm:max-h-[400px]">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead
                              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Product name
            </th>
            <th scope="col" class="px-6 py-3">
              Color
            </th>
            <th scope="col" class="px-6 py-3">
              Category
            </th>
            <th scope="col" class="px-6 py-3">
              Price
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row"
                                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
              Silver
            </td>
            <td class="px-6 py-4">
              Laptop
            </td>
            <td class="px-6 py-4">
              $2999
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row"
                                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Microsoft Surface Pro
            </th>
            <td class="px-6 py-4">
              White
            </td>
            <td class="px-6 py-4">
              Laptop PC
            </td>
            <td class="px-6 py-4">
              $1999
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row"
                                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row"
                                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row"
                                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row"
                                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row"
                                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row"
                                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row"
                                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row"
                                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="max-w-[350px] sm:max-w-[800px] bg-white rounded-lg m-4 shadow dark:bg-gray-800 p-4 md:p-6 ">
    <div class="flex justify-between items-start w-full">
      <div class="flex-col items-center">
        <div class="flex items-center mb-1">
          <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">Danh
            sách
            phòng trống</h5>
        </div>
      </div>
    </div>
    <!-- Table-->
    <div class="relative overflow-x-auto overflow-y-auto max-h-[400px]">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Product name
            </th>
            <th scope="col" class="px-6 py-3">
              Color
            </th>
            <th scope="col" class="px-6 py-3">
              Category
            </th>
            <th scope="col" class="px-6 py-3">
              Price
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
              Silver
            </td>
            <td class="px-6 py-4">
              Laptop
            </td>
            <td class="px-6 py-4">
              $2999
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Microsoft Surface Pro
            </th>
            <td class="px-6 py-4">
              White
            </td>
            <td class="px-6 py-4">
              Laptop PC
            </td>
            <td class="px-6 py-4">
              $1999
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row"
                                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              Black
            </td>
            <td class="px-6 py-4">
              Accessories
            </td>
            <td class="px-6 py-4">
              $99
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
