<% if current_user&.has_role?(:admin)%>
  <div>
    <%= render 'admin/navigation'%>
    <div class="sm:ml-64">
      <%= render 'admin/topnav'%>
      <!-- table -->
      <%= render 'table'%>
    </div>
  </div>
<% else %>
  <div>You are not authorized in here</div>
<% end %>
