<footer id="footer" class="footer footer-center p-10 bg-gray-200">
  <aside>
    <div>
      <a class="flex justify-center">
        <%= vite_image_tag("images/logo/logo.png", class: "w-[100px] h-[100px] rounded-full")%>
      </a>
      <p class="font-serif text-xl m-2">
        Nếu như có thắc mắc hoặc có những góp ý về phần mềm này, vui lòng liện hệ qua: <br />
      </p>
      <p class="font-serif text-xl m-2">
        Email: ronald.mai.goldenowl@gmail.com
      </p>
      <p class="font-serif text-xl m-2">
        SĐT: 123456789
      </p>
      <p class="font-serif text-xl m-2">
        Địa chỉ: số A, đường B, Phường C, Quận D
      </p>
    </div>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a>
        <%= vite_image_tag("images/footer/icons8-facebook.svg", class: "w-[24px] h-[24px]")%>
      </a>
      <a>
        <%= vite_image_tag("images/footer/icons8-instagram.svg", class: "w-[24px] h-[24px]")%>
      </a>
      <a>
        <%= vite_image_tag("images/footer/icons8-youtube.svg", class: "w-[24px] h-[24px]")%>
      </a>
    </div>
  </nav>
</footer>
