<div class="top-nav">
  <div class="nav-menu">
    <nav>
      <div class="left-toggle">
          <a href=""><i class="fa-solid fa-bars"></i></a>
      </div>
      <div class="right-toggle">
          <button class="btn btn-primary"><i class="fa-solid fa-sticky-note"></i></button>
          <button class="btn btn-secondary"><i class="fa-solid fa-calculator"></i></button>
      </div>
    </nav>
  </div>
</div>