<div class="fixed z-50 top-3 min-w-1/2 w-auto left-1/2 transform -translate-x-1/2" data-controller="flash" data-flash-target="alert">
  <div id="toast-success" class="flex items-center max-w-2/3 p-4 mb-4 text-gray-500 bg-white rounded-lg shadow-xl dark:text-gray-400 dark:bg-gray-800 border-solid border-2 border-gray-500" data-controller="flash" data-flash-target="alert" data-action="click->flash#closeAlert">
    <% flash.each do |type, message| %>
      <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 <%= alert_variant_class(type) %>">
        <%= vite_image_tag(choose_image_variant(type), class: alert_variant_class(type))%>
        <span class="sr-only">Info</span>
      </div>
      <div class="ms-3 text-base font-normal text-gray-800 dark:text-gray-300">
        <%= message %>
      </div>
      <button class="ml-6 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" type="button" data-dismiss-target="#flash" aria-label="Close">
        <span class="sr-only">Dismiss</span>
        <%= vite_image_tag("images/icons/close.svg") %>
      </button>
    <% end %>
  </div>
</div>
