<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn-menu btn m-1 btn-info">
    <i class="fa-solid fa-gear pr-2"></i>Tùy chọn
  </div>
  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-200 rounded-box w-40">
    <%= yield %>
  </ul>
</div>
