<div class="dropdown dropdown-end w-[125px]">
  <div tabindex="0" role="button" class="btn-menu w-[175px] text-sm sm:w-full btn m-1 btn-info bg-[#063970] text-white hover:bg-[#1e81b0]">
    <i class="fa-solid fa-gear"></i><span class="text-xs">Tùy chọn</span>
  </div>
  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-200 rounded-box w-52">
    <%= yield %>
  </ul>
</div>
