<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn-menu w-32 btn m-1 btn-info bg-[#063970] text-white hover:bg-[#1e81b0]">
    <i class="fa-solid fa-gear pr-2"></i>Tùy chọn
  </div>
  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-200 rounded-box w-52">
    <%= yield %>
  </ul>
</div>
