<section class="mb-40">
  <div class="bg-neutral-50 py-24 px-6 text-center dark:bg-neutral-900">
    <h1
      class="mt-2 mb-16 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl"
    >
      The best offer on the market <br />
      <span class="text-primary">for your business</span>
    </h1>
    <%= link_to 'Get Start', new_user_session_path, class: "text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-7 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800" %>
    <a
      class="inline-block rounded px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-500 hover:bg-opacity-10 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-800 dark:hover:bg-opacity-60"
      data-te-ripple-init
      data-te-ripple-color="light"
      href="#!"
      role="button"
    >
      Learn more
    </a>
  </div>
</section>
