/*
  This file is for base element styles, like:

  - Any @font-face declarations needed custom web fonts.
  - Default font-family on the body element.
  - Default foreground, background, and link colors.
  - Global CSS variables (declared on :root), such as color palette.
*/

// Colors
$white: #ffffff;
$black: #000000;
$green: #17444b;
$lightCream: #b3d0f4;

:root {
  --bs-body-font-size: 16px !important;
  --bs-body-font-family: "Nunito" !important;
  background-color: $lightCream !important;
}
