@import "modern-normalize";
@import "reset";
@import "base";
@import "application";
@import "pages/home";

@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";

@import "./components/navigation.scss";
@import "./components/fa.scss";
@import "./components/navbar.scss";
@import "./components/button.scss";
@import "./users/dashboard.scss";
@import "./users/pagy.scss";

* {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
}
