<div class="relative">
  <%= render "shared/flash"%>
  <div>
    <%= render 'users/navigation'%>
    <div class="sm:ml-64">
      <%= render 'users/topnav'%>
      <div class="right-div">
        <!-- table -->
        <%= render 'show_info_room'%>
      </div>
    </div>
  </div>
</div>
