/* @import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'tailwindcss/utilities'; */
/* @import "font-awesome"; */

/* this is the file awesome you want to adding */
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
*{
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
}

/* title */
.site-title{
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  color: #088bac !important;
  margin-left: 0 !important;
  line-height: 59px;
  display: block;
  height: 55px;
  margin: 0;
}
.navbar-title{
  text-align:
  center; padding: 10px;
}
.div-greeting{
  padding: 25px 10px 10px;
  width: 100%;
}

.nav-sm .navbar-title{
  width: 70px;
}
.nav-sm .div-greeting{
  display: none;
}

.main-container{
  display: flex;
  height: 100%;
}
.nav-side-menu > li{
  position: relative;
  display: block;
  cursor: pointer;
}
.nav-side-menu > li>a{
  text-decoration: none;
  margin-bottom: 6px;
  /* color: #E7E7E7; */
  font-weight: 500;
  position: relative;
  display: block;
  padding: 13px 15px 12px;
}
/* click the button to open the nav */

.nav-sm .menu-section{
  margin:0;
}
.nav-sm .nav-side-menu li a {
  text-align: center !important;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
}
.nav-sm .nav-side-menu li a i {
  width: 100%;
  text-align: center;
  font-size: 25px;
}


.nav-side-menu > li>a:hover{
  background-color: white;
}
.nav-side-menu > li>a:active{
  color: gray;
}
.nav-side-menu > li>a.active{
  border-right: 5px solid #1ABB9C;
  background-color: rgb(198, 228, 228);
}
.nav-side-menu > li>a>i{
  width: 26px;
  display: inline-block;
  font-style: normal;

}
.left-div{
  min-height: 100%;
  width: 230px;
  padding: 0;
  position: absolute;
  display: flex;
  z-index: 1;
}

/* when click button to resize */
.nav-sm .left-div{
  width: 80px;
}

.sidebar-footer{
  bottom: 0;
  display: flex;
  position: fixed;
  width: 230px;
  z-index: 999;
  background-color: blue;
}

/* when click button to resize */
.nav-sm .sidebar-footer{
  display: none;
}
.sidebar-footer a{
  padding: 15px 0 3px;
  text-align: center;
  width: 50%;
  font-size: 20px;
  display: block;
  float: left;
  cursor: pointer;
  height: 100%;
}
.sidebar-footer a:hover{
  background-color: white;
}

/* icon fa */
.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* right container */
.right-container{
  margin-left: 230px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* top-nav */

.top-nav{
  display: block;
  /* margin-left: 230px; */
  width: 100%;
}
.nav-sm .right-container{
  margin-left: 80px;
}

.nav-menu{
  float: left;
  background: #EDEDED;
  border-bottom:1px solid #D9DEE4 ;
  width: 100%;
  position: relative;
}
.left-toggle{
  float: left;
  margin: 0;
  padding-top: 16px;
  width: 70px;
}
.right-toggle{
  float:right;
  text-align:right;
  width: 150px;
  padding-top: 16px;
}
.left-toggle a{
  margin: 0;
  padding: 15px 15px 0;
}
.btn{
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 15px 15px 0;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary{
  color: white;
  background-color: #26B99A;
  border: 1px solid 169F85;
}
.btn-secondary{
  color: white;
  background-color: #337ab7;
  border-color: #2e6da4;
}

/* @media screen and (max-width: 600px) {
  .sidebar-footer{
      display: none;
  }
} */

@media screen and (max-width: 991px) {
  .left-div{
      display: none;
  }
  .right-container{
      margin-left: 0px;
  }
}