/* @import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'tailwindcss/utilities'; */
/* @import "font-awesome"; */

/* this is the file awesome you want to adding */
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@import './components/navigation.scss';
@import './components/fa.scss';
@import './components/navbar.scss';
@import './users/dashboard.scss';
* {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
}

/* @media screen and (max-width: 600px) {
  .sidebar-footer{
      display: none;
  }
} */
