<%= turbo_frame_tag "room_list" do%>
  <div id="room-list" class="flex flex-wrap w-full">
    <% if @rooms.empty? && current_user.rooms.count == 0 %>
      <div class="flex justify-center items-center w-full flex-wrap h-[25vw]">
        <h1 class="text-3xl text-red-500">HIỆN TẠI CHƯA CÓ PHÒNG NÀO. CẦN THÊM PHÒNG!!!</h1>
      </div>
    <% elsif @rooms.empty? && current_user.rooms.count != 0 %>
      <div class="flex justify-center items-center w-full flex-wrap h-[25vw]">
        <h1 class="text-3xl text-red-500">Không có phòng nào thỏa.</h1>
      </div>
    <% else %>
      <% @rooms.each do |room| %>
        <%= render room %>
      <% end %>
    <% end %>
  </div>
  <%== render "shared/pagination", locals: { pagy: @pagy } %>
<% end %>
